@import '../../styles/variables';

@mixin source_card_base {
  background-color: $color-white;
  border-radius: $border-radius;
  margin: 8px 16px 8px 0px;
  padding: 16px;
  min-width: 300px;
  width: 100%;
  max-width: fit-content;
  border: 1px solid $outline-resting-state;
  justify-content: center;
  transition: 0.3s;
}

.source_card {
  @include source_card_base;

  &:hover {
    border-color: $outline-hover-state;
    background-color: $background-hover-state;
  }
}

.source_card_selected {
  @include source_card_base;

  border-color: $color-black;
  background-color: $background-hover-state;
}

.source_card_disabled {
  @include source_card_base;

  opacity: 50%;
  pointer-events: none;
}
