@import '../../../../../styles/variables';

.spacing {
    display: flex;
    justify-content: space-between;
    height: 36px;
}

.actionsContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

button.renameButton {
    color: $assistant-rename;
    
    width: 89px;
    border-radius: $border-radius;
    border: $border;
}

button.deleteButton {
    color: $assistant-delete;
    width: 78px;
    border-radius: $border-radius;
    border: $border;
}

button.cancelButton {
    color: $assistant-rename;
    height: 36px;
    width: 89px;
    border-radius: $border-radius;
    border: $border;
}

button.saveButton {
    background-color: $assistant-rename;
    color: $color-white;
    height: 36px;
    width: 89px;
    border-radius: $border-radius;
    border: $border;

    &:hover {
        background-color: $assistant-rename;
    }

    &:disabled {
        background-color: $disabled-button;
    }
}

.modelSelector {
    height: 40px;
    width: 240px;
}

.textField {
    width: 100%;
    border-color: $color-black;
}