@import '../../../../../styles/variables';

button.iconButton {
    width: 32px;
    padding: 0px;
}

.menuItem {
    display: flex;
    border-radius: $border-radius;
    gap: 12px;
    padding-right: 8px;
    padding-left: 4px;
}

.listItem {
    width: 154px;
}