@import 'styles/variables';

@font-face {
  font-family: 'Inter';
  src: url(assets/fonts/Inter.ttf);
}

div.datasources {
  padding: 32px 200px;

  &.models {
    padding: 32px 100px;
  }
}

div.explorer {
  padding: 32px 100px;
}

div.dataquality {
  padding: 48px 200px;
}

div.aiassistant {
  padding: 0px;
}

.cm-editor.cm-focused {
  outline: unset;
}