@import '../../styles/variables';

.search {
  width: stretch;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 12px;
  height: 36px;
  position: relative;
  border: 1px solid;
  border-radius: $border-radius;
  border-color: $ds-search-bar-border;
}

.search_icon {
  color: $ds-icon;
  width: 23px;
  height: 23px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.input {
  padding-left: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: stretch;
}
