@import '../../../styles/variables';

.container {
    display: flex;
    align-items: center;
}

.container:hover .icons {
    display: flex;
}

.spacing {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;

    border-radius: $border-radius;
    height: 40px;
    width: 240px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: left;

    cursor: pointer;

    &:hover {
        background-color: $existing-assistant-background;
    }
    
}

.background {
    background-color: $existing-assistant-background;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: none;
    border: none;
    color: white;
    width: 100%;
}

.icon {
    position: relative;
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.container:hover .icon {
    display: flex;
}