@import '../../../styles/variables';

$width: 712px;

.container {
    height: 100%;
    width: $width;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    .scrollContainer {
        height: 60%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px 0;

        overflow-y: auto;
        overflow-x: hidden;

        .sourceContainer {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 12px;
        }

        .clause {

            .icon {
                color: $icon-color;
            }
        }
    }

    .codeBlock {
        height: 40%;
    }
}

.actions {
    height: 100%;
    width: $width;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

.errorContainer {
    margin-right: auto;
    margin-left: 24px;
}
