.container {

    .step {
        display: flex;
        flex-wrap: nowrap;
        text-wrap: nowrap;
        gap: 8px;

        .subStepsContainer {
            display: flex;
            flex-wrap: nowrap;
            gap: 8px;

            .subSteps {
                align-self: center;

                >ol {
                    display: flex;
                    flex-wrap: nowrap;
                    text-wrap: nowrap;
                }
            }
        }
    }
}