@import '../../../styles/variables';

.button {
  height: 36px;
  text-wrap: nowrap;
  overflow: hidden;

  .add_icon {
    color: black;
    margin-left: 16px;
  }
  .text {
    margin-right: 16px;
    font-weight: 500;
  }
}
