.custom_markdown_container {
  h4 {
    // Sub header
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }

  h5 {
    // Body Medium (Stepper)
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  p {
    // Body Medium (Cards Content)
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f4f4f4;
    text-align: left;
  }
}