@import '../../styles/variables';

.button {
  background-color: $ds-button;
  gap: 8px;
  width: 238px;
  height: 36px;
  box-shadow: none;
  text-wrap: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;

  .add_icon {
    color: inherit;
  }
}