@import '../../styles/variables';

.container {
  position: absolute;
  width: -webkit-fill-available;
  height: $footer-height;
  bottom: 0;

  background-color: $color-white;

  padding: 16px 24px;
  border-top: 1px solid $footer-border-color;

  > * {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
