@import '../../../../styles/variables';

ul.list {
  padding: 0;

  .header {
    position: relative;

    .tooltipContainer {
      max-width: 160px;
      display: flex;
      flex-wrap: nowrap;

      .alias {
        text-wrap: nowrap;
      }

      .EditableHeader {
        width: 100%;
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        color: $color-secondary;
        padding-right: 4px;

        .tableName {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &:has(input[type="editable"]) {
      outline: 1px solid $node-row-border-editing;
    }
  }

  .rowContainer {
    padding: 0;

    .handle {
      background: transparent;
      border: 1px solid $color-secondary;

      &.connected,
      &.static {
        background: $info;
        border: 1px solid $info;
      }

      &.target {
        border: unset;
        width: 24px;
        height: 24px;
        background-color: transparent;
      }

      .handleIcon {
        width: 18px;
        height: 18px;
        visibility: hidden;
        pointer-events: none;
        color: $color-white;
      }
    }

    &:hover {

      .handle {
        &.source {
          width: 20px;
          height: 20px;
          right: -12px;

          background: $info;
          border: 1px solid $info;
        }

        .handleIcon {
          visibility: visible;
        }
      }
    }
  }

  .row {
    width: 100%;
    flex-direction: row;
    display: flex;
    height: 36px;
    padding: 6px 16px;
    border-bottom: 1px solid $node-row-border;

    cursor: pointer;

    &:hover {
      border-bottom: 0px;
      outline: 1px solid $node-row-border-hover;
    }

    &.editing {
      border-bottom: 0px;
      outline: 1px solid $node-row-border-editing;
    }

    .text {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .menu {
      margin-left: auto;

      .button {
        height: 20px;
        width: 20px;
      }

      .expandButton {
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }
}

.highlighted {
  border-bottom: 0px;
  outline: 1px solid $node-row-border-hover;
}

.saving {
  opacity: 0.3;
  pointer-events: none;
  cursor: wait;
}