@import '../../../../styles/variables';

.container {
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .button_new_target {
    margin-left: auto;
    height: fit-content;
  }
}

.add_target_container {
  display: flex;
  width: 600px;
  min-width: 300px;
}

.container_buttons_drawer {
  position: absolute;
  height: $footer-height;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: $color-white;

  padding: 16px 24px;
  border-top: 1px solid $footer-border-color;

  > * {
    display: flex;
    flex-wrap: nowrap;
  }
}
