@import '../../styles/variables';

.container {

    .card {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        padding: 24px;

        .actions {
            display: flex;
            flex-wrap: nowrap;
            gap: 16px;
        }
    }
}