@import '../../styles/variables';

.drawer {

    .toolbar {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 24px;

        &.collapsed {
            margin-bottom: 0;
            .chevron {     
                align-self:center;
            }
        }

        .logo {
            height: fit-content;
        }

        .chevron {
            min-height: 48px;
            align-self:flex-end;
            color: $sb-arrow-color;
            margin: 24px;
        }

        .chevron:hover{
            background-color:$sb-hover-background;
            border-radius: $border-radius;
        }
    }

    .NavButtons {
        padding: 0;
        margin-top: 24px;
    }
}