@import '../../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $mapping-type-formula;
  border-radius: $border-radius;
  width: 40px;
  height: 40px;
}
