@import '../../styles/variables';


.container{
    .header{
        margin-bottom: 32px;
    }
    .textBody{
        margin-bottom: 16px;
    }


    .selectContainer{
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        margin-bottom: 32px;

        .selectNumber {
            width: 100%;
            margin-right: 24px;
        }
        
        .selectUnit {
            width: 100%;
        }
    }

    .actionsContainer{
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        
        .cancelButton {
            color: $assistant-rename;
            height: 36px;
            width: 89px;
            border-radius: $border-radius;
            border: $border;
        }

        .saveButton {
            background-color: $assistant-rename;
            color: $color-white;
            height: 36px;
            width: 89px;
            border-radius: $border-radius;
            border: $border;
            
            &:disabled {
                background-color: $disabled-button;
            }
        }
    }

}




