@import '../../../styles/variables';

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mapping {
    display: flex;
    padding: 0px 8px 0px 8px;
    border-radius: 4px;
    margin-bottom: 12px;

    svg {
        color: $color-secondary;
    }

    span {
        margin-left: 10px;
    }
}

.variantInput {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px 8px 0 8px;
    border: 1px solid $mp-border-color;
}