@import "../../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-top: 10px;
  height: 32px;
}

.balls {
  width: 32px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.balls div {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: $disabled-button;
  transform: translateY(-100%);
  animation: wave 0.8s ease-in-out alternate infinite;
}

.balls div:nth-of-type(1) {
  animation-delay: -0.4s;
}

.balls div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes wave {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
